body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 40px 100px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    flex-shrink: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 40px 100px;
    flex-wrap: wrap;
    gap: 10px;
}

.header-body-left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-title {
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0;
}

.header-subtext {
    font-size: 0.9rem;
}

.header-button {
    padding: 5px 20px;
    color: white;
    background-color: #3B82F6;
    border-color: #3B82F6;
    border-radius: 5px;
    border-color: #3B82F6;
    border-style: solid;
    flex-shrink: 0;
}

.button-text {
    font-weight: 700;
}

.header-body-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.body {
    flex: 1;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 100px;
}

.articles-title-container {
    margin-bottom: 40px;
}

.articles-title {
    font-size: 2rem;
    font-weight: 700;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.article-text-container {
    width: 150px;
    margin-top: 10px;
    text-align: center;
}

.article-text {
    font-size: 0.9rem;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 40px 250px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}

.author-section {
    margin-left: auto;
}

.author {
    font-weight: 700;
}

.modal-container {
    padding: 40px 100px;
}

.modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B82F6;
    padding: 30px 70px;
    color: white;
    border-radius: 10px;
    gap: 20px
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.modal-subtext {
    font-size: 0.9rem;
}

.modal-button {
    padding: 5px 20px;
    color: white;
    background-color: #3B82F6;
    border-color: #3B82F6;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    flex-shrink: 0;
}


.footer {
    background-color: #1F2937;
    color: white;
}